* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1.5rem;
}

.container {
  max-width: 600px;
  /* margin: 0 auto; */
}

header {
  font-size: 1.5rem;
  padding: 0.5rem;

  p {
    font-size: 1rem;
    color: #8c8a8b;
  }

  .buttons {
    font-size: 1rem;
    text-align: end;
    padding: 1rem;
    span{
      color: #8c8a8b;
    }
  }
}

